# version: '3.8'

services:
  api:
    build: .
    container_name: portfolio_rebalancer
    restart: on-failure
    ports:
      - "8080:8080"
    depends_on:
      - elasticsearch
      - kafka
    environment:
      - KAFKA_BROKER=kafka:9092
      - KAFKA_TOPIC=rebalance
      - ELASTICSEARCH_URL=http://elasticsearch:9200
    command: /api

  consumer:
    build: .
    container_name: portfolio_rebalancer_consumer
    restart: on-failure
    depends_on:
      - kafka
      - elasticsearch
    environment:
      - KAFKA_BROKER=kafka:9092
      - KAFKA_TOPIC=rebalance
      - ELASTICSEARCH_URL=http://elasticsearch:9200
    command: /consumer

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.5.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
